<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ramp.tetrisplatform" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android= "http://schemas.android.com/apk/res/android">
    <gap:config-file platform="android" parent="/manifest">
    </gap:config-file>
    <name>Tetris Platform</name>
    <description>
        Tetris Platform
    </description>
    <author email="adriaanmarain300@gmail.com" href="http://gameba.it">
        Adridude
    </author>
    <content src="index.html" />
    <preference name="SplashScreen" value="splash" />
    <preference name="fullscreen" value="true" />
    <icon src="www/assets/logo.png"   gap:platform="android"/>
    <splash src="www/assets/menu/loading.png" platform="android" qualifier="hdpi" />
    <preference name="orientation" value="portrait" />
    <access origin="*" />
</widget>